<table class="step2">
  <tr>
    <th colspan="2"><h3>Step 2: <i>Strategy</i></h3></th>
  </tr>
  <tr>
    <th><label for="strategy_title" class="left">Title:</label> <tool-tip caption="Tooltips are awesome, you should totally use them!"></tool-tip></th>
    <td><input type="text" id="strategy_title" name="strategy_title" ng-model="menu.strategy_title" /></td>
  </tr>
  <tr>
    <th><label for="strategy_description" class="left">Description:</label> <tool-tip caption="Tooltips are awesome, you should totally use them!"></tool-tip></th>
    <td><textarea id="strategy_description" name="strategy_description" rows="4" ng-model="menu.strategy_description"></textarea></td>
  </tr>
</table>
